# Web Framework
Django

# For config
python-decouple
psycopg2-binary

# To run our server
gunicorn

# For postgres
dj-database-url

# Serve static
whitenoise

# rate limit
django-ratelimit

# qrcode
qrcode
Pillow

# Log styling
colorama

# 
requests
beautifulsoup4
lxml
facebook-scraper
fake-useragent
